<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="card of [1,1]">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-item color="primary">
        <ion-icon slot="start" name="pin-outline"></ion-icon>
        <ion-label>Marcador</ion-label>
      </ion-item>
      <ion-card-content>
        lorem 
      </ion-card-content>
  </ion-card>

  <ion-card>
      <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/01/solid-snake-1841251.jpg?itok=c67o1Bzx" alt="">
      <ion-card-content>
        lorem20
      
      </ion-card-content>
  </ion-card>

</ion-content>
