<app-header [titulo]="nombre || 'Input form'"></app-header>

<ion-content>


  <ion-list>

    <ion-list-header>
      <ion-label>Inputs</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>nombre:</ion-label>
      <ion-input type="text" placeholder="nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>
  </ion-list>


  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" class="ion-padding">

    <ion-list-header>
      <ion-label>Formulario: {{formulario.valid}} </ion-label>
    </ion-list-header>


    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" 
      placeholder="Email" 
      required 
      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
      name="email"
      [(ngModel)]="usuario.email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input 
        type="password" 
        placeholder="Contraseña"
        required
        [(ngModel)]="usuario.password"
        name="password"
      ></ion-input>
    </ion-item>

    <ion-button [disabled]="formulario.invalid"
                type="submit" expand="block">
      Login
    </ion-button>
  </form>

</ion-content>
